/* reset - start ============================================ */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
}

html {
  background-color: #000;
}

a {
  text-decoration: none;
}
/* reset - end ============================================== */

/* Header - start =========================================== */
.header {
  height: 48px;
  background-color: rgba(0,0,0,0.5);
}

.header-link {
  height: 100%;
  padding: 0 16px;
  color: #333333;
  float: left;
}

.header-link:hover {
  background-color: rgba(255,255,255,0.25);
}

.header-link.active {
  background-color: rgba(255,255,255,0.3);
}

.header-link span,
.header-link i {
  margin: 16px 0;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  display: inline-block;
}

.header-logo {
  height: 100%;
  float: left;
}

.header-logo .header-link {
  background-color: rgba(255,255,255,0.2);
}

.header-logo .header-link i {
  width: 16px;
}

.header-logo .header-link span {
  font-size: 16px;
}

.header-menu {
  height: 100%;
  float: left;
}

.header-menu .header-link span,
.header-menu .header-link i {
  font-size: 14px;
}

.header-user-box {
  height: 100%;
  float: right;
}

.header-user-box .header-link span,
.header-user-box .header-link i {
  font-size: 14px;
}

.header-locale-link {
  background-color: #f1f1f1;
}

.header-locale-link > i {
  width: 16px;
  font-size: 16px !important;
}
/* Header - end ============================================= */

/* Content - start ========================================== */
.content {
  min-height: 300px;
  padding: 16px;
}
/* Content - end ============================================ */

/* Footer - start =========================================== */
.footer {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.3);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .footer { border-width: 0.5px; }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .footer { border-width: 0.333333px; }
}
.footer-copyright {
  padding: 0 16px;
}
.footer-locale-link {
  padding: 0 16px;
  font-size: 14px;
  color: rgba(255,255,255,0.5);
}
.footer-locale-link:hover {
  background-color: rgba(255,255,255,0.25);
}
.footer-locale-link i {
  width: 16px;
  margin-right: 4px;
  font-size: 16px;
  display: inline-block;
}
/* Footer - end ============================================= */
