extends ./../layout

block style
  link(rel='stylesheet', href='/static/css/pages/site/choose-locale.css')

block content
  #site-choose-locale
    include ./../includes/header
    .content
      a(href='/choose-locale/zh-CN')
        span #{__("locales.zh-cn")}
      a(href='/choose-locale/en')
        span #{__("locales.en")}
    include ./../includes/footer
