extends ./../layout

block style
  link(rel='stylesheet', href='/static/css/pages/site/index.css')

block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js')
  script(src='/static/js/site-index.js')

block content
  #site-index
    include ./../includes/header
    .content
      #p5container
    include ./../includes/footer
